body {
  margin: 0;
  background: #0b1220;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}

#gateInput {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  font-size: 16px;
  font-family: monospace;
  z-index: 5;
  border: none;
  border-radius: 6px;
  background: #1e293b;
  color: white;
}

#gateBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 140px;
  border: 3px solid orange;
  border-radius: 10px;
  text-align: center;
  line-height: 140px;
  font-size: 20px;
  box-shadow: 0 0 25px orange;
  background: #0f172a;
  z-index: 10;
}

.flying {
  position: absolute;
  font-size: 22px;
  font-family: monospace;
  transition: left 2s ease;
  white-space: nowrap;
  color: cyan;
}

.gate-result {
  position: absolute;
  font-size: 22px;
  font-family: monospace;
  font-weight: bold;
  transition: left 2s linear;
  white-space: nowrap;
  color: orange;
}
